.gradle/
build/
app/build/
*.iml
.idea/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks
keystore_b64.txt
release.keystore
debug.keystore
google-services.json
**/google-services.json
.DS_Store
*.swp
*.log
